[Desktop Entry]
Type=Application
Name=Automatically run a startup script
Exec=lxterminal --geometry=800x600 -e "$HOME/Programs/configure-pi02w-01.sh"
Terminal=true
