[Desktop Entry]
Type=Application
Name=Automatically run a startup script
Exec=lxterminal --geometry=800x600 -e "$HOME/Programs/my-autostart-apps.sh"
Terminal=true
