[Desktop Entry]
Type=Application
Name=Automatically run a startup script
Exec=lxterminal -e "$HOME/Programs/pi-stuff/rpi02w/configure-pi02w-01.sh"
Terminal=true
